NodeRED/data/flows.json
[
    {
        "id": "c894a765e68d549e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "03f78facf7e14666",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "181b902293a1da42",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/north/accelerometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 500,
        "wires": [
            [
                "1c50238b5217de85"
            ]
        ]
    },
    {
        "id": "62cad5f375f1085a",
        "type": "debug",
        "z": "c894a765e68d549e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "1c50238b5217de85",
        "type": "function",
        "z": "c894a765e68d549e",
        "name": "Magnitudo",
        "func": "console.log(msg.payload);\n\nvar arrayDiStringhe = msg.payload.split(',');\n\n// Converti le stringhe in numeri\nvar x = parseFloat(arrayDiStringhe[0]);\nvar y = parseFloat(arrayDiStringhe[1]);\nvar z = parseFloat(arrayDiStringhe[2]);\n\nconsole.log(x,y,z)\n\nvar risultato = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\n\nconsole.log(risultato);\n\n// Funzione per mappare un valore da un intervallo all'altro\nfunction mapValue(value, fromMin, fromMax, toMin, toMax) {\n  // Calcola la percentuale del valore nell'intervallo di partenza\n  const percentage = (value - fromMin) / (fromMax - fromMin);\n\n  // Applica la percentuale nell'intervallo di destinazione\n  const mappedValue = percentage * (toMax - toMin) + toMin;\n\n  // Restituisci il valore mappato\n  return mappedValue;\n}\n\n\nconst risultato_fin = mapValue(risultato, 2.2 , 19.5 , 1.0 , 10.0 );\nconsole.log(risultato_fin)\nmsg.payload = risultato_fin;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "e95521741091d3fb"
            ]
        ]
    },
    {
        "id": "b66144c8daedd09e",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/north/latitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "f3c09e90c4a1de8f"
            ]
        ]
    },
    {
        "id": "5605880c5b1c13f6",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/north/longitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "b6ee730411852e9b"
            ]
        ]
    },
    {
        "id": "0388274d4f957881",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/north/geophone_X",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "e6953a0cc2287aa8"
            ]
        ]
    },
    {
        "id": "68815c94e28afc23",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/north/geophone_Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "01ba64fc83645282",
                "4ec48bb507ab1227"
            ]
        ]
    },
    {
        "id": "9a04251d181304ab",
        "type": "join",
        "z": "c894a765e68d549e",
        "name": "North",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 880,
        "y": 360,
        "wires": [
            [
                "87bb59527464b741",
                "62cad5f375f1085a"
            ]
        ]
    },
    {
        "id": "01ba64fc83645282",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "9a04251d181304ab"
            ]
        ]
    },
    {
        "id": "e6953a0cc2287aa8",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "9a04251d181304ab"
            ]
        ]
    },
    {
        "id": "b6ee730411852e9b",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "longitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "9a04251d181304ab"
            ]
        ]
    },
    {
        "id": "f3c09e90c4a1de8f",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "latitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "9a04251d181304ab"
            ]
        ]
    },
    {
        "id": "e95521741091d3fb",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "magnitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "9a04251d181304ab"
            ]
        ]
    },
    {
        "id": "87bb59527464b741",
        "type": "function",
        "z": "c894a765e68d549e",
        "name": "function 1",
        "func": "msg.topic = \"North\"\nmsg.payload = {\n    \"location\": \"North\",\n    \"latitude\": msg.payload.latitude,\n    \"longitude\": msg.payload.longitude,\n    \"magnitude\": msg.payload.magnitude,\n    \"geophone_X\": msg.payload.geophone_X,\n    \"geophone_Y\": msg.payload.geophone_Y\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 360,
        "wires": [
            [
                "227212ca5ad03d1f"
            ]
        ]
    },
    {
        "id": "1cead6daab3d0281",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/south/accelerometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 960,
        "wires": [
            [
                "fbe51bd313a077e5"
            ]
        ]
    },
    {
        "id": "0d88bb169166cc1d",
        "type": "debug",
        "z": "c894a765e68d549e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 720,
        "wires": []
    },
    {
        "id": "fbe51bd313a077e5",
        "type": "function",
        "z": "c894a765e68d549e",
        "name": "Magnitudo",
        "func": "console.log(msg.payload);\n\nvar arrayDiStringhe = msg.payload.split(',');\n\n// Converti le stringhe in numeri\nvar x = parseFloat(arrayDiStringhe[0]);\nvar y = parseFloat(arrayDiStringhe[1]);\nvar z = parseFloat(arrayDiStringhe[2]);\n\nconsole.log(x,y,z)\n\nvar risultato = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\n\nconsole.log(risultato);\n\n// Funzione per mappare un valore da un intervallo all'altro\nfunction mapValue(value, fromMin, fromMax, toMin, toMax) {\n  // Calcola la percentuale del valore nell'intervallo di partenza\n  const percentage = (value - fromMin) / (fromMax - fromMin);\n\n  // Applica la percentuale nell'intervallo di destinazione\n  const mappedValue = percentage * (toMax - toMin) + toMin;\n\n  // Restituisci il valore mappato\n  return mappedValue;\n}\n\n\nconst risultato_fin = mapValue(risultato, 2.2 , 19.5 , 1.0 , 10.0 );\nconsole.log(risultato_fin)\nmsg.payload = risultato_fin;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "148f2b8454e8dc3c"
            ]
        ]
    },
    {
        "id": "a4147eca0d67a685",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/south/latitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "60c986f75689a171"
            ]
        ]
    },
    {
        "id": "ea1a5d497ae33572",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/south/longitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 820,
        "wires": [
            [
                "478e6eb8e168638a"
            ]
        ]
    },
    {
        "id": "8a3777f42c419159",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/south/geophone_X",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 760,
        "wires": [
            [
                "c5f136d6f7128a94"
            ]
        ]
    },
    {
        "id": "0728f23e0da228f2",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/south/geophone_Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 700,
        "wires": [
            [
                "2a961764b387dbb2"
            ]
        ]
    },
    {
        "id": "c4d4706fbf142e55",
        "type": "join",
        "z": "c894a765e68d549e",
        "name": "South",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 880,
        "y": 820,
        "wires": [
            [
                "ad0ebef0ae074ddf",
                "0d88bb169166cc1d"
            ]
        ]
    },
    {
        "id": "2a961764b387dbb2",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 700,
        "wires": [
            [
                "c4d4706fbf142e55"
            ]
        ]
    },
    {
        "id": "c5f136d6f7128a94",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 760,
        "wires": [
            [
                "c4d4706fbf142e55"
            ]
        ]
    },
    {
        "id": "478e6eb8e168638a",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "longitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 820,
        "wires": [
            [
                "c4d4706fbf142e55"
            ]
        ]
    },
    {
        "id": "60c986f75689a171",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "latitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 880,
        "wires": [
            [
                "c4d4706fbf142e55"
            ]
        ]
    },
    {
        "id": "148f2b8454e8dc3c",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "magnitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 960,
        "wires": [
            [
                "c4d4706fbf142e55"
            ]
        ]
    },
    {
        "id": "ad0ebef0ae074ddf",
        "type": "function",
        "z": "c894a765e68d549e",
        "name": "function 2",
        "func": "msg.topic = \"South\"\nmsg.payload = {\n    \"location\": \"South\",\n    \"latitude\": msg.payload.latitude,\n    \"longitude\": msg.payload.longitude,\n    \"magnitude\": msg.payload.magnitude,\n    \"geophone_X\": msg.payload.geophone_X,\n    \"geophone_Y\": msg.payload.geophone_Y\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 820,
        "wires": [
            [
                "227212ca5ad03d1f"
            ]
        ]
    },
    {
        "id": "3767f94b4bae774b",
        "type": "function",
        "z": "c894a765e68d549e",
        "name": "function 3",
        "func": "msg.topic = \"East\"\nmsg.payload = {\n    \"location\": \"East\",\n    \"latitude\": msg.payload.latitude,\n    \"longitude\": msg.payload.longitude,\n    \"magnitude\": msg.payload.magnitude,\n    \"geophone_X\": msg.payload.geophone_X,\n    \"geophone_Y\": msg.payload.geophone_Y\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1360,
        "wires": [
            [
                "227212ca5ad03d1f"
            ]
        ]
    },
    {
        "id": "f8c1a5bc89c8ff07",
        "type": "join",
        "z": "c894a765e68d549e",
        "name": "East",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 1360,
        "wires": [
            [
                "3767f94b4bae774b",
                "7787fb00616e4695"
            ]
        ]
    },
    {
        "id": "1933e4ac8902b8de",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "f8c1a5bc89c8ff07"
            ]
        ]
    },
    {
        "id": "1303795dc804f334",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "f8c1a5bc89c8ff07"
            ]
        ]
    },
    {
        "id": "46071cf04f3e18da",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "longitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1360,
        "wires": [
            [
                "f8c1a5bc89c8ff07"
            ]
        ]
    },
    {
        "id": "24238ba36f2707a6",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "latitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1420,
        "wires": [
            [
                "f8c1a5bc89c8ff07"
            ]
        ]
    },
    {
        "id": "e3a31b29d61ff390",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "magnitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1500,
        "wires": [
            [
                "f8c1a5bc89c8ff07"
            ]
        ]
    },
    {
        "id": "7787fb00616e4695",
        "type": "debug",
        "z": "c894a765e68d549e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1160,
        "wires": []
    },
    {
        "id": "1e28bac3044ee919",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/east/geophone_Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1240,
        "wires": [
            [
                "1933e4ac8902b8de"
            ]
        ]
    },
    {
        "id": "c570e4f82cabcc07",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/east/geophone_X",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1300,
        "wires": [
            [
                "1303795dc804f334"
            ]
        ]
    },
    {
        "id": "628cf6d666824ff6",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/east/longitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1360,
        "wires": [
            [
                "46071cf04f3e18da"
            ]
        ]
    },
    {
        "id": "ba4adef8b4d72855",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/east/latitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1420,
        "wires": [
            [
                "24238ba36f2707a6"
            ]
        ]
    },
    {
        "id": "16e7657933aa31f2",
        "type": "function",
        "z": "c894a765e68d549e",
        "name": "Magnitudo",
        "func": "console.log(msg.payload);\n\nvar arrayDiStringhe = msg.payload.split(',');\n\n// Converti le stringhe in numeri\nvar x = parseFloat(arrayDiStringhe[0]);\nvar y = parseFloat(arrayDiStringhe[1]);\nvar z = parseFloat(arrayDiStringhe[2]);\n\nconsole.log(x,y,z)\n\nvar risultato = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\n\nconsole.log(risultato);\n\n// Funzione per mappare un valore da un intervallo all'altro\nfunction mapValue(value, fromMin, fromMax, toMin, toMax) {\n  // Calcola la percentuale del valore nell'intervallo di partenza\n  const percentage = (value - fromMin) / (fromMax - fromMin);\n\n  // Applica la percentuale nell'intervallo di destinazione\n  const mappedValue = percentage * (toMax - toMin) + toMin;\n\n  // Restituisci il valore mappato\n  return mappedValue;\n}\n\n\nconst risultato_fin = mapValue(risultato, 2.2 , 19.5 , 1.0 , 10.0 );\nconsole.log(risultato_fin)\nmsg.payload = risultato_fin;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1580,
        "wires": [
            [
                "e3a31b29d61ff390"
            ]
        ]
    },
    {
        "id": "df762e465cc1f53e",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/east/accelerometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "16e7657933aa31f2"
            ]
        ]
    },
    {
        "id": "530e8d3bbcfca4f3",
        "type": "function",
        "z": "c894a765e68d549e",
        "name": "function 4",
        "func": "msg.topic = \"West\"\nmsg.payload = {\n     \"location\": \"West\",\n    \"latitude\": msg.payload.latitude,\n    \"longitude\": msg.payload.longitude,\n    \"magnitude\": msg.payload.magnitude,\n    \"geophone_X\": msg.payload.geophone_X,\n    \"geophone_Y\": msg.payload.geophone_Y\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1880,
        "wires": [
            [
                "227212ca5ad03d1f"
            ]
        ]
    },
    {
        "id": "32d377c181351773",
        "type": "join",
        "z": "c894a765e68d549e",
        "name": "West",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 1880,
        "wires": [
            [
                "530e8d3bbcfca4f3",
                "8bd7d3f58c6b7f17"
            ]
        ]
    },
    {
        "id": "8bd7d3f58c6b7f17",
        "type": "debug",
        "z": "c894a765e68d549e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1680,
        "wires": []
    },
    {
        "id": "a1ac78ef671123e6",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1760,
        "wires": [
            [
                "32d377c181351773"
            ]
        ]
    },
    {
        "id": "59b2f91dc4065abe",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1820,
        "wires": [
            [
                "32d377c181351773"
            ]
        ]
    },
    {
        "id": "3331fd0d234c969d",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "longitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1880,
        "wires": [
            [
                "32d377c181351773"
            ]
        ]
    },
    {
        "id": "b408a2e3a7e15140",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "latitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1940,
        "wires": [
            [
                "32d377c181351773"
            ]
        ]
    },
    {
        "id": "0b971bedad02ea25",
        "type": "change",
        "z": "c894a765e68d549e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "magnitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 2020,
        "wires": [
            [
                "32d377c181351773"
            ]
        ]
    },
    {
        "id": "26dc64fcdb44dbfe",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/west/geophone_Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1760,
        "wires": [
            [
                "a1ac78ef671123e6"
            ]
        ]
    },
    {
        "id": "65c3be5f817b82db",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/west/geophone_X",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1820,
        "wires": [
            [
                "59b2f91dc4065abe"
            ]
        ]
    },
    {
        "id": "2dfc184880ab947f",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/west/longitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1880,
        "wires": [
            [
                "3331fd0d234c969d"
            ]
        ]
    },
    {
        "id": "364ff33cf8e8a5d6",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/west/latitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1940,
        "wires": [
            [
                "b408a2e3a7e15140"
            ]
        ]
    },
    {
        "id": "1cc224795f085396",
        "type": "function",
        "z": "c894a765e68d549e",
        "name": "Magnitudo",
        "func": "console.log(msg.payload);\n\nvar arrayDiStringhe = msg.payload.split(',');\n\n// Converti le stringhe in numeri\nvar x = parseFloat(arrayDiStringhe[0]);\nvar y = parseFloat(arrayDiStringhe[1]);\nvar z = parseFloat(arrayDiStringhe[2]);\n\nconsole.log(x,y,z)\n\nvar risultato = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\n\nconsole.log(risultato);\n\n// Funzione per mappare un valore da un intervallo all'altro\nfunction mapValue(value, fromMin, fromMax, toMin, toMax) {\n  // Calcola la percentuale del valore nell'intervallo di partenza\n  const percentage = (value - fromMin) / (fromMax - fromMin);\n\n  // Applica la percentuale nell'intervallo di destinazione\n  const mappedValue = percentage * (toMax - toMin) + toMin;\n\n  // Restituisci il valore mappato\n  return mappedValue;\n}\n\n\nconst risultato_fin = mapValue(risultato, 2.2 , 19.5 , 1.0 , 10.0 );\nconsole.log(risultato_fin)\nmsg.payload = risultato_fin;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2100,
        "wires": [
            [
                "0b971bedad02ea25"
            ]
        ]
    },
    {
        "id": "4e5b76d4299a3152",
        "type": "mqtt in",
        "z": "c894a765e68d549e",
        "name": "",
        "topic": "/west/accelerometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 2020,
        "wires": [
            [
                "1cc224795f085396"
            ]
        ]
    },
    {
        "id": "4ec48bb507ab1227",
        "type": "debug",
        "z": "c894a765e68d549e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "227212ca5ad03d1f",
        "type": "mqtt out",
        "z": "c894a765e68d549e",
        "name": "SensorData",
        "topic": "telegraf/SensorData",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03f78facf7e14666",
        "x": 1530,
        "y": 1180,
        "wires": []
    }
]