NodeRED/data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70058f0cb6222027",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "21922a8165be81e1",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "03f78facf7e14666",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "348a3757f860bc2e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f599f73e852323ee",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "77b8ed15bda5d5d6",
        "type": "ui_group",
        "name": "Default",
        "tab": "348a3757f860bc2e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c4b6f33760d13e0",
        "type": "influxdb",
        "hostname": "host.docker.internal",
        "port": "8086",
        "protocol": "http",
        "database": "export INFLUX_TOKEN=4sV50FwNs1fbFqVSuWmsaZbd60KCe7KeBariPJhxQuA-ZHGcmYoJjqtaz1JyYZi76H7KweAS2wolHsttxmySXg==",
        "name": "bho!",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://host.docker.internal:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "3913b496bfd7b7c9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8c1db9a014fa53f9",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "weot",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "b70f6b0851aafd25",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "weot",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://weot-internet-of-cows-influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "b2f2a2f7e6e2f84f",
        "type": "amqp-broker",
        "name": "Rabbitmq",
        "host": "host.docker.internal",
        "port": "5672",
        "vhost": "",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "36d198e8524e8b85",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/north/accelerometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 500,
        "wires": [
            [
                "0a892acbad8e7c1c"
            ]
        ]
    },
    {
        "id": "a4132434ebd3efec",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "0a892acbad8e7c1c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Magnitudo",
        "func": "console.log(msg.payload);\n\nvar arrayDiStringhe = msg.payload.split(',');\n\n// Converti le stringhe in numeri\nvar x = parseFloat(arrayDiStringhe[0]);\nvar y = parseFloat(arrayDiStringhe[1]);\nvar z = parseFloat(arrayDiStringhe[2]);\n\nconsole.log(x,y,z)\n\nvar risultato = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\n\nconsole.log(risultato);\n\n// Funzione per mappare un valore da un intervallo all'altro\nfunction mapValue(value, fromMin, fromMax, toMin, toMax) {\n  // Calcola la percentuale del valore nell'intervallo di partenza\n  const percentage = (value - fromMin) / (fromMax - fromMin);\n\n  // Applica la percentuale nell'intervallo di destinazione\n  const mappedValue = percentage * (toMax - toMin) + toMin;\n\n  // Restituisci il valore mappato\n  return mappedValue;\n}\n\n\nconst risultato_fin = mapValue(risultato, 2.2 , 19.5 , 1.0 , 10.0 );\nconsole.log(risultato_fin)\nmsg.payload = risultato_fin;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "941dcbbd113b318e"
            ]
        ]
    },
    {
        "id": "5c7e03bbee9ae965",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/north/latitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "662d0431f9db745f"
            ]
        ]
    },
    {
        "id": "430a680cb1286f8e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/north/longitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "80fa36c66834e1f8"
            ]
        ]
    },
    {
        "id": "6c3d7ee4a689d1a0",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/north/geophone_X",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "d1487254c8b7d0f3"
            ]
        ]
    },
    {
        "id": "c058ca15f41fc28e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/north/geophone_Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "e252a607a8060ad3",
                "c27a9bba1056f002"
            ]
        ]
    },
    {
        "id": "748a1d85dfaccdd3",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "North",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 880,
        "y": 360,
        "wires": [
            [
                "4aad445d70b4d1f1",
                "a4132434ebd3efec"
            ]
        ]
    },
    {
        "id": "e252a607a8060ad3",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "748a1d85dfaccdd3"
            ]
        ]
    },
    {
        "id": "d1487254c8b7d0f3",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "748a1d85dfaccdd3"
            ]
        ]
    },
    {
        "id": "80fa36c66834e1f8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "longitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 360,
        "wires": [
            [
                "748a1d85dfaccdd3"
            ]
        ]
    },
    {
        "id": "662d0431f9db745f",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "latitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "748a1d85dfaccdd3"
            ]
        ]
    },
    {
        "id": "941dcbbd113b318e",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "magnitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "748a1d85dfaccdd3"
            ]
        ]
    },
    {
        "id": "4aad445d70b4d1f1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.topic = \"North\"\nmsg.payload = {\n    \"location\": \"North\",\n    \"latitude\": msg.payload.latitude,\n    \"longitude\": msg.payload.longitude,\n    \"magnitude\": msg.payload.magnitude,\n    \"geophone_X\": msg.payload.geophone_X,\n    \"geophone_Y\": msg.payload.geophone_Y\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 360,
        "wires": [
            [
                "e7d4cfdd5acaabe5"
            ]
        ]
    },
    {
        "id": "6a3debcefcf3fc95",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/south/accelerometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 960,
        "wires": [
            [
                "924274056d1d358a"
            ]
        ]
    },
    {
        "id": "d3ac9f173074af75",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 720,
        "wires": []
    },
    {
        "id": "924274056d1d358a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Magnitudo",
        "func": "console.log(msg.payload);\n\nvar arrayDiStringhe = msg.payload.split(',');\n\n// Converti le stringhe in numeri\nvar x = parseFloat(arrayDiStringhe[0]);\nvar y = parseFloat(arrayDiStringhe[1]);\nvar z = parseFloat(arrayDiStringhe[2]);\n\nconsole.log(x,y,z)\n\nvar risultato = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\n\nconsole.log(risultato);\n\n// Funzione per mappare un valore da un intervallo all'altro\nfunction mapValue(value, fromMin, fromMax, toMin, toMax) {\n  // Calcola la percentuale del valore nell'intervallo di partenza\n  const percentage = (value - fromMin) / (fromMax - fromMin);\n\n  // Applica la percentuale nell'intervallo di destinazione\n  const mappedValue = percentage * (toMax - toMin) + toMin;\n\n  // Restituisci il valore mappato\n  return mappedValue;\n}\n\n\nconst risultato_fin = mapValue(risultato, 2.2 , 19.5 , 1.0 , 10.0 );\nconsole.log(risultato_fin)\nmsg.payload = risultato_fin;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "94930c483fe5798a"
            ]
        ]
    },
    {
        "id": "466cda0192fd7aca",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/south/latitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "2b4879933c9c70c8"
            ]
        ]
    },
    {
        "id": "dab2f59b9ff130b7",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/south/longitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 820,
        "wires": [
            [
                "d877fa5e7b16dc4f"
            ]
        ]
    },
    {
        "id": "54dfc210e187df82",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/south/geophone_X",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 760,
        "wires": [
            [
                "c8e8d8ca5027117c"
            ]
        ]
    },
    {
        "id": "2ce4990be4c54818",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/south/geophone_Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 700,
        "wires": [
            [
                "70367745232f8eed"
            ]
        ]
    },
    {
        "id": "97a48f9d2bab444e",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "South",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 880,
        "y": 820,
        "wires": [
            [
                "c54790a2bf3d49db",
                "d3ac9f173074af75"
            ]
        ]
    },
    {
        "id": "70367745232f8eed",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 700,
        "wires": [
            [
                "97a48f9d2bab444e"
            ]
        ]
    },
    {
        "id": "c8e8d8ca5027117c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 760,
        "wires": [
            [
                "97a48f9d2bab444e"
            ]
        ]
    },
    {
        "id": "d877fa5e7b16dc4f",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "longitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 820,
        "wires": [
            [
                "97a48f9d2bab444e"
            ]
        ]
    },
    {
        "id": "2b4879933c9c70c8",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "latitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 880,
        "wires": [
            [
                "97a48f9d2bab444e"
            ]
        ]
    },
    {
        "id": "94930c483fe5798a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "magnitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 960,
        "wires": [
            [
                "97a48f9d2bab444e"
            ]
        ]
    },
    {
        "id": "c54790a2bf3d49db",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "msg.topic = \"South\"\nmsg.payload = {\n    \"location\": \"South\",\n    \"latitude\": msg.payload.latitude,\n    \"longitude\": msg.payload.longitude,\n    \"magnitude\": msg.payload.magnitude,\n    \"geophone_X\": msg.payload.geophone_X,\n    \"geophone_Y\": msg.payload.geophone_Y\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 820,
        "wires": [
            [
                "e7d4cfdd5acaabe5"
            ]
        ]
    },
    {
        "id": "f7d75717a2067815",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.topic = \"East\"\nmsg.payload = {\n    \"location\": \"East\",\n    \"latitude\": msg.payload.latitude,\n    \"longitude\": msg.payload.longitude,\n    \"magnitude\": msg.payload.magnitude,\n    \"geophone_X\": msg.payload.geophone_X,\n    \"geophone_Y\": msg.payload.geophone_Y\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1360,
        "wires": [
            [
                "e7d4cfdd5acaabe5"
            ]
        ]
    },
    {
        "id": "63c63948bce9cbf6",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "East",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 1360,
        "wires": [
            [
                "f7d75717a2067815",
                "c2e596e220885141"
            ]
        ]
    },
    {
        "id": "8aefd4c03c176ea5",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "63c63948bce9cbf6"
            ]
        ]
    },
    {
        "id": "bacbc3b168be1739",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "63c63948bce9cbf6"
            ]
        ]
    },
    {
        "id": "6c513cc8aa6bad94",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "longitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1360,
        "wires": [
            [
                "63c63948bce9cbf6"
            ]
        ]
    },
    {
        "id": "75b450c6f6826244",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "latitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1420,
        "wires": [
            [
                "63c63948bce9cbf6"
            ]
        ]
    },
    {
        "id": "02df357a5cb0b940",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "magnitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1500,
        "wires": [
            [
                "63c63948bce9cbf6"
            ]
        ]
    },
    {
        "id": "c2e596e220885141",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b384bdfe1bd26edb",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/east/geophone_Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1240,
        "wires": [
            [
                "8aefd4c03c176ea5"
            ]
        ]
    },
    {
        "id": "d04350ad955d9c86",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/east/geophone_X",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1300,
        "wires": [
            [
                "bacbc3b168be1739"
            ]
        ]
    },
    {
        "id": "eeaf78c647de2cdf",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/east/longitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1360,
        "wires": [
            [
                "6c513cc8aa6bad94"
            ]
        ]
    },
    {
        "id": "cfda0e9a330138c1",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/east/latitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1420,
        "wires": [
            [
                "75b450c6f6826244"
            ]
        ]
    },
    {
        "id": "5c47cbd4e70e193e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Magnitudo",
        "func": "console.log(msg.payload);\n\nvar arrayDiStringhe = msg.payload.split(',');\n\n// Converti le stringhe in numeri\nvar x = parseFloat(arrayDiStringhe[0]);\nvar y = parseFloat(arrayDiStringhe[1]);\nvar z = parseFloat(arrayDiStringhe[2]);\n\nconsole.log(x,y,z)\n\nvar risultato = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\n\nconsole.log(risultato);\n\n// Funzione per mappare un valore da un intervallo all'altro\nfunction mapValue(value, fromMin, fromMax, toMin, toMax) {\n  // Calcola la percentuale del valore nell'intervallo di partenza\n  const percentage = (value - fromMin) / (fromMax - fromMin);\n\n  // Applica la percentuale nell'intervallo di destinazione\n  const mappedValue = percentage * (toMax - toMin) + toMin;\n\n  // Restituisci il valore mappato\n  return mappedValue;\n}\n\n\nconst risultato_fin = mapValue(risultato, 2.2 , 19.5 , 1.0 , 10.0 );\nconsole.log(risultato_fin)\nmsg.payload = risultato_fin;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1580,
        "wires": [
            [
                "02df357a5cb0b940"
            ]
        ]
    },
    {
        "id": "3f0273b539e27b41",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/east/accelerometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "5c47cbd4e70e193e"
            ]
        ]
    },
    {
        "id": "c2d393f23d9f6f7c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.topic = \"West\"\nmsg.payload = {\n     \"location\": \"West\",\n    \"latitude\": msg.payload.latitude,\n    \"longitude\": msg.payload.longitude,\n    \"magnitude\": msg.payload.magnitude,\n    \"geophone_X\": msg.payload.geophone_X,\n    \"geophone_Y\": msg.payload.geophone_Y\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 1880,
        "wires": [
            [
                "e7d4cfdd5acaabe5"
            ]
        ]
    },
    {
        "id": "a30fa097eab86067",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "West",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 1880,
        "wires": [
            [
                "c2d393f23d9f6f7c",
                "71b0671edeac24ff"
            ]
        ]
    },
    {
        "id": "71b0671edeac24ff",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1680,
        "wires": []
    },
    {
        "id": "4ae9fcbdb51c496d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1760,
        "wires": [
            [
                "a30fa097eab86067"
            ]
        ]
    },
    {
        "id": "64f379cc7ee860ad",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "geophone_X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1820,
        "wires": [
            [
                "a30fa097eab86067"
            ]
        ]
    },
    {
        "id": "fd84e02eadaae2eb",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "longitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1880,
        "wires": [
            [
                "a30fa097eab86067"
            ]
        ]
    },
    {
        "id": "cf62d9b213e19b1e",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "latitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1940,
        "wires": [
            [
                "a30fa097eab86067"
            ]
        ]
    },
    {
        "id": "3704cc2566274d0e",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "magnitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 2020,
        "wires": [
            [
                "a30fa097eab86067"
            ]
        ]
    },
    {
        "id": "bb0713749b2985d5",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/west/geophone_Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1760,
        "wires": [
            [
                "4ae9fcbdb51c496d"
            ]
        ]
    },
    {
        "id": "0fdb6c3b8a1942b3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/west/geophone_X",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1820,
        "wires": [
            [
                "64f379cc7ee860ad"
            ]
        ]
    },
    {
        "id": "78644b276149983a",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/west/longitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1880,
        "wires": [
            [
                "fd84e02eadaae2eb"
            ]
        ]
    },
    {
        "id": "e96e3f1a5d08cf32",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/west/latitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1940,
        "wires": [
            [
                "cf62d9b213e19b1e"
            ]
        ]
    },
    {
        "id": "5837c38bcac66613",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Magnitudo",
        "func": "console.log(msg.payload);\n\nvar arrayDiStringhe = msg.payload.split(',');\n\n// Converti le stringhe in numeri\nvar x = parseFloat(arrayDiStringhe[0]);\nvar y = parseFloat(arrayDiStringhe[1]);\nvar z = parseFloat(arrayDiStringhe[2]);\n\nconsole.log(x,y,z)\n\nvar risultato = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2) + Math.pow(z, 2));\n\nconsole.log(risultato);\n\n// Funzione per mappare un valore da un intervallo all'altro\nfunction mapValue(value, fromMin, fromMax, toMin, toMax) {\n  // Calcola la percentuale del valore nell'intervallo di partenza\n  const percentage = (value - fromMin) / (fromMax - fromMin);\n\n  // Applica la percentuale nell'intervallo di destinazione\n  const mappedValue = percentage * (toMax - toMin) + toMin;\n\n  // Restituisci il valore mappato\n  return mappedValue;\n}\n\n\nconst risultato_fin = mapValue(risultato, 2.2 , 19.5 , 1.0 , 10.0 );\nconsole.log(risultato_fin)\nmsg.payload = risultato_fin;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2100,
        "wires": [
            [
                "3704cc2566274d0e"
            ]
        ]
    },
    {
        "id": "479cc731ac31627d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "/west/accelerometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "03f78facf7e14666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 2020,
        "wires": [
            [
                "5837c38bcac66613"
            ]
        ]
    },
    {
        "id": "c27a9bba1056f002",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "e7d4cfdd5acaabe5",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "SensorData",
        "topic": "telegraf/SensorData",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03f78facf7e14666",
        "x": 1530,
        "y": 1180,
        "wires": []
    },
    {
        "id": "cc1d9288f67909b3",
        "type": "comment",
        "z": "70058f0cb6222027",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "90bf4e27a6937b45",
        "type": "debug",
        "z": "70058f0cb6222027",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 700,
        "wires": []
    },
    {
        "id": "02601a62606c6859",
        "type": "function",
        "z": "70058f0cb6222027",
        "name": "Save to InfluxDB",
        "func": "msg.topic=\"InfluxData\"\nmsg.payload = {\n    \"heartRate\": msg.payload.heartRate,\n    \"temperature\": msg.payload.temperature,\n    \"accelerometer\": msg.payload.accelerometer ?? 0,\n    \"area\": msg.payload.area,\n    \"cowId\": msg.payload.cowId\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 680,
        "wires": [
            [
                "90bf4e27a6937b45",
                "1c5ffc435b03a60d"
            ]
        ]
    },
    {
        "id": "9a72d3b9b3997f66",
        "type": "mqtt in",
        "z": "70058f0cb6222027",
        "name": "",
        "topic": "/cowlarIoTse4gd/area/id/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3913b496bfd7b7c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "5e96a8685871be6d"
            ]
        ]
    },
    {
        "id": "5e96a8685871be6d",
        "type": "change",
        "z": "70058f0cb6222027",
        "name": "set temp value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 560,
        "wires": [
            [
                "ebe18cfc9ca1f216"
            ]
        ]
    },
    {
        "id": "1c5ffc435b03a60d",
        "type": "influxdb out",
        "z": "70058f0cb6222027",
        "influxdb": "b70f6b0851aafd25",
        "name": "InternetOfCowsDB",
        "measurement": "Cow-status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "WEoT",
        "bucket": "WEoT-InternetOfCows",
        "x": 1350,
        "y": 600,
        "wires": []
    },
    {
        "id": "2375c71da1b6f2e9",
        "type": "mqtt in",
        "z": "70058f0cb6222027",
        "name": "",
        "topic": "/cowlarIoTse4gd/area/id/pulse",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3913b496bfd7b7c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 660,
        "wires": [
            [
                "e7c62dc1fb90f919"
            ]
        ]
    },
    {
        "id": "536a559e665d01d1",
        "type": "mqtt in",
        "z": "70058f0cb6222027",
        "name": "",
        "topic": "/cowlarIoTse4gd/area/id/speed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3913b496bfd7b7c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "4405f1e7d1754850"
            ]
        ]
    },
    {
        "id": "e7c62dc1fb90f919",
        "type": "change",
        "z": "70058f0cb6222027",
        "name": "set heartRate value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heartRate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 660,
        "wires": [
            [
                "ebe18cfc9ca1f216"
            ]
        ]
    },
    {
        "id": "4405f1e7d1754850",
        "type": "change",
        "z": "70058f0cb6222027",
        "name": "set speed value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "accelerometer",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 740,
        "wires": [
            [
                "ebe18cfc9ca1f216"
            ]
        ]
    },
    {
        "id": "c84df0536646ef50",
        "type": "inject",
        "z": "70058f0cb6222027",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "c1f3fe17550f087f"
            ]
        ]
    },
    {
        "id": "2616a0d43e30cc43",
        "type": "inject",
        "z": "70058f0cb6222027",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "c1f3fe17550f087f"
            ]
        ]
    },
    {
        "id": "c1f3fe17550f087f",
        "type": "mqtt out",
        "z": "70058f0cb6222027",
        "name": "",
        "topic": "/cowlarIoTse4gd/isRunning",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3913b496bfd7b7c9",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "901af02716c792d0",
        "type": "comment",
        "z": "70058f0cb6222027",
        "name": "for simulating the heartbeat",
        "info": "",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "fb282ad6dc4e579c",
        "type": "mqtt in",
        "z": "70058f0cb6222027",
        "name": "",
        "topic": "/cowlarIoTse4gd/area",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3913b496bfd7b7c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 840,
        "wires": [
            [
                "2d8ae57535467f1a"
            ]
        ]
    },
    {
        "id": "0a9936c0dda6ac83",
        "type": "mqtt in",
        "z": "70058f0cb6222027",
        "name": "",
        "topic": "/cowlarIoTse4gd/area/id",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3913b496bfd7b7c9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 940,
        "wires": [
            [
                "384ea6c9cb581013"
            ]
        ]
    },
    {
        "id": "2d8ae57535467f1a",
        "type": "change",
        "z": "70058f0cb6222027",
        "name": "set area value",
        "rules": [
            {
                "t": "set",
                "p": "parts.area",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "area",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 840,
        "wires": [
            [
                "ebe18cfc9ca1f216"
            ]
        ]
    },
    {
        "id": "384ea6c9cb581013",
        "type": "change",
        "z": "70058f0cb6222027",
        "name": "set id value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "cowId",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 940,
        "wires": [
            [
                "ebe18cfc9ca1f216"
            ]
        ]
    },
    {
        "id": "ebe18cfc9ca1f216",
        "type": "join",
        "z": "70058f0cb6222027",
        "name": "join value object",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 680,
        "wires": [
            [
                "02601a62606c6859",
                "22ea5f949580abbe"
            ]
        ]
    },
    {
        "id": "22ea5f949580abbe",
        "type": "debug",
        "z": "70058f0cb6222027",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 780,
        "wires": []
    }
]